{{ define "head" }}
    {{ partial "resume/head.html" . }}
{{ end }}

{{ define "main" }}
{{ $resume := index site.Data .Site.Language.Lang "resume" }}
<div class="resume-container">
    <div class="container px-3 px-lg-5 resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg display-4">
        {{ partial "resume/header.html" . }}
        
        <hr>
        
        {{ if $resume.summary.enable }}
        {{ partial "resume/summary.html" . }}
        {{ end }}
        
        <hr>
        
        <div class="resume-body">
            <div class="row">
                <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                    {{ if $resume.experience.enable }}
                    {{ partial "resume/experience.html" . }}
                    {{ end }}
                    
                    {{ if $resume.projects.enable }}
                    {{ partial "resume/projects.html" . }}
                    {{ end }}
                    
                    {{ if $resume.information.enable }}
                    {{ partial "resume/information.html" . }}
                    {{ end }}
                </div><!--//resume-main-->
                
                {{ partial "resume/sidebar.html" . }}
                
            </div><!--//row-->
        </div><!--//resume-body-->
        
        <hr>
        
        {{ if $resume.social.enable }}
        {{ partial "resume/social.html" . }}
        {{ end }}
        
        {{ partial "resume/footer.html" . }}
    </div><!--//container-->
</div>

{{ partial "resume/scripts.html" . }}
{{ end }}