{{ $resume := index site.Data .Site.Language.Lang "resume" }}

<div class="resume-contact">
    <ul class="contact-list">
        {{ range $resume.contact.list }}
        <li class="contact-item">
            <i class="{{ .icon }} icon"></i>
            <a class="resume-link" href="{{ .url | safeURL }}">{{ .text }}</a>
        </li>
        {{ end }}
        <li class="contact-item">
            <i class="fas fa-map-marker-alt icon"></i>
            <span>{{ $resume.contact.location }}</span>
        </li>
    </ul>
</div>