<section class="resume-section work-section">
    <h3 class="resume-section-heading">Work Experience</h3>
    
    {{ range $.Site.Data.resume.experience.list }}
    <div class="experience-item">
        <div class="experience-header">
            <h4 class="item-title">{{ .title }}</h4>
            <div class="item-meta">{{ .company }} | {{ .dates }}</div>
        </div>
        <div class="item-content">
            <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
            <ul class="experience-list">
                {{ range .items }}
                <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}
</section>