{{ $resume := index site.Data .Site.Language.Lang "resume" }}

<section class="resume-section information-section">
    <h3 class="resume-section-heading">Information</h3>
    
    {{ range $resume.information.list }}
    <div class="info-item">
        <div class="info-header">
            <h4 class="item-title">{{ .title }}</h4>
        </div>
        <div class="item-content">
            <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
            <ul class="info-list">
                {{ range .items }}
                <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}
</section>