{{ $resume := index site.Data .Site.Language.Lang "resume" }}

<section class="resume-section skills-section">
    <h3 class="resume-section-heading">Skills</h3>
    
    {{ range $resume.skills.list }}
    <div class="skill-category">
        <h4 class="skill-category-title">{{ .title }}</h4>
        <div class="skill-list">
            {{ range .items }}
            <div class="skill-item">{{ with .details }}{{ . | markdownify }}{{ end }}</div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</section>