<div class="resume-intro">
    <div class="resume-intro-container">
        {{ if $.Site.Data.resume.profile.avatar }}
        <div class="resume-profile-image-container">
            <img class="resume-profile-image" src="{{ .Site.BaseURL }}assets/images/{{ $.Site.Data.resume.profile.avatar }}" alt="Profile image">
        </div>
        {{ end }}
        
        <div class="resume-summary">
            <p>{{ $.Site.Data.resume.summary.text | markdownify }}</p>
        </div>
    </div>
</div>